{% extends "eduprod/layout.html" %}
{% block body %}
<script>
    let questionData = " {{ questionData }} " || undefined
</script>
<div id="content" data-questions='{{ questions_json|safe }}'></div>
<form id='createQuestion' class="horiFlex marginB">
    <select name="type" id="type">
        <option value="multiplication">Multiplication</option>
        <option value="addition">Addition</option>
        <option value="subtraction">Subtraction</option>
        <option value="division">Division</option>
    </select>
    <button type="submit">
        Set Question Type
    </button>
</form>
<form id="questionAnswer">
    <div class="horiFlex">
        <h1 id="questionText">
            Loading...
        </h1>
        <input id="answerInput" type="number" />
        <h1 id="correctIncorrectText" />
    </div>
    <button id="submitButton" class="marginT fullWidth" type="submit">
        Check Answer
    </button>
</form>
{% endblock %}